/********************************************************************
                        Master Styles
/********************************************************************/


/********************************************************************
                        Header
/********************************************************************/


/********************************************************************
                        Page Content
/********************************************************************/

.img-product {
    width: 50px;
}

.td-sl {
    width: 5%;
}

.td-product-title {
    width: 15%;
}

.td-action {
    width: 12%;
}

.td-description {
    width: 50%;
}

.imgPreview {
    margin-top: 5px;
    width: 150px;
}

.preview-delete-icon {
    position: relative;
    right: 12px;
    bottom: -25px;
}

.imgPreview i {
    float: right;
    margin-bottom: 0px;
    font-size: 25px;
    cursor: pointer;
}

.imgPreview img {
    width: 145px;
}


/********************************************************************
                        Footer
/********************************************************************/