/********************************************************************
                        Master Styles
/********************************************************************/


/********************************************************************
                        Header
/********************************************************************/


/********************************************************************
                        Page Content
/********************************************************************/

.img-product {
    width: 50px;
}

.td-product-title {
    width: 15%;
}

.td-action {
    width: 12%;
}


/********************************************************************
                        Footer
/********************************************************************/